<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editar dispositivos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" type="text/css">
</head>
<body>
<div class="container">
     <div class="b_navegacion">
        <form action="{{url_for('editar_datos_serv')}}" method="POST">
            <a href="/">Inicio</a>
            <a href="/registrar">Registrar estatus </a>
    
         <fieldset> 
            <center><legend style="font-size: large;"> <b> Registrato </b> </legend></center>
            <br>
            <input type="text" placeholder="Servidor" name="servi" id="servi" value="{{lserv[0]}}">
            <input type="text" placeholder="Url" name="url" id="url" value="{{lserv[1]}}">
            <input type="number" placeholder="Estatus" name="estatus" id="estatus"value="{{lserv[2]}}">
            <select  name="metodo"  id="metodo" value="{{lserv[3]}}">
                <option value="01">POST</option>
                <option value="02">GET</option>
                <option value="03">head</option>
            </select>
            <input type="date" placeholder="Fecha" name="fecha_R" id="fecha_R" value="{{lserv[4]}}">
            <input type="text" placeholder="Tiempo" name="tiempo" id="tiempo" value="{{lserv[5]}}">
           <input type="number" placeholder="idmonitoreo" name="id_m" id="id_m" value="{{lserv[6]}}">

           <input type="button" value="Cancelar">
           <input type="submit" value="Registrar">
            
         </fieldset>
         </form>
         
</body>
</html>
