<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <style>
    td{background-color: cyan;}
        table,
        td{
            border: 1px solid;
            padding: 20px;
        }
    </style>
</head>
<body>
    <form action="{{url_for('datos_editar_dispo')}}" method="post">
      <h2 style="text-align: center;">REGISTRO DE SERVIDORES</h2>
            <br>
        <label>Servidor:</label>
        <input type="text" name="servidor" id="servidor" required>
        <br>
        <label>url:</label>
        <input type="text" name="url" id="url" required>
        <br>
        <label for="estatus">Estatus:</label>
            <select id="estatus" name="estatus">
            <option value="100">100:codigos informativos
             que indican que la solicitud
             indicada por el navegador continua</option>
            <option value="200">200:Los códigos con éxito
             regresaron cuando la solicitud del
             navegador fue recibida, entendida
             y procesada por el servidor.</option>
            <option value="300">300:Códigos de redireccionamiento
             devueltos cuando un nuevo recurso ha
             sido sustituido por el recurso
             solicitado.</option>
            <option value="400">400 Códigos de error del cliente
             que indican que hubo un problema
             con la solicitud</option>
            <option value="500">500 Códigos de error del servidor
             que indican que la solicitud fue
             aceptada, pero que un error en el servidor
             impidió que se cumpliera.</option>
        </select>
        <br>
        <label for="metodo">Metodo:</label>
        <select id="metodo" name="metodo">
            <option value="GET">Solicitud directa del sitio web</option>
            <option value="POST"> Envía datos del formulario de publicación a la URLEnvía datos del formulario de publicación a la URL</option>
            <option value="HEAD">Solicite solo el encabezado HTTP del servidor sin la página web real.</option>
        </select>
        <br>
        <label>Tiempo de respuesta: </label>
        <input type="text" name="tiempo" id="tiempo" required>
        <br>
        <label>Fecha:</label>
        <input type="date" name="fecha" id="fecha" required>
        <br>
        <br>
        <label>Id del servidor:</label>
        <input type="text" name="id_ser" id="id_ser" required>
        <div style="text-align: center;">

        <input type="reset" value="Cancelar">
        <input type="submit" value="Guardar">
        </div>
    </form>
</body>
</html>