<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">

</head>
<body>

<div class="general">

    <div class="dates">

        <form action="{{url_for('datos_dispo')}}" method="post">
            <h2 style="text-align: center;">REGISTRO DE SERVIDORES</h2>
            <br>

        <label>Id del servidor:</label>
        <input type="text" name="id_server" id="id_server" required>
        <br>
        <label>Servidor:</label>
        <input type="text" name="servidor" id="servidor" required>
        <br>
        <label>url:</label>
        <input type="text" name="url" id="url" required>
        <br>
        <label for="estatus">Estatus:</label>
            <select id="estatus" name="estatus">
            <option value="100">100:codigos informativos
             que indican que la solicitud
             indicada por el navegador continua</option>
            <option value="200">200:Los códigos con éxito
             regresaron cuando la solicitud del
             navegador fue recibida, entendida
             y procesada por el servidor.</option>
            <option value="300">300:Códigos de redireccionamiento
             devueltos cuando un nuevo recurso ha
             sido sustituido por el recurso
             solicitado.</option>
            <option value="400">400 Códigos de error del cliente
             que indican que hubo un problema
             con la solicitud</option>
            <option value="500">500 Códigos de error del servidor
             que indican que la solicitud fue
             aceptada, pero que un error en el servidor
             impidió que se cumpliera.</option>
        </select>
        <br>
        <label for="metodo">Metodo:</label>
        <select id="metodo" name="metodo">
            <option value="GET">Solicitud directa del sitio web</option>
            <option value="POST"> Envía datos del formulario de publicación a la URLEnvía datos del formulario de publicación a la URL</option>
            <option value="HEAD">Solicite solo el encabezado HTTP del servidor sin la página web real.</option>
        </select>
        <br>
        <label>Tiempo de respuesta: </label>
        <input type="text" name="tiempo" id="tiempo" required>
        <br>
        <label>Fecha:</label>
        <input type="date" name="fecha" id="fecha" required>
        <br>
        <br>
        <div style="text-align: center;">
        <input type="reset" value="Cancelar">
        <input type="submit" value="Guardar">
        </div>
        </form>
    </div>

    <section>
        <div class="dates2">
            <h2 style="text-align: center;">Lista de dipositivos</h2>
            <br>
            <table>

                <thead>Dispositivos</thead>

                <tbody>
                <tr>
                    <td>Id del Servidor</td>
                    <td>Servidor</td>
                    <td>url</td>
                    <td>Estatus</td>
                    <td>Metodo</td>
                    <td>Tiempo de respuesta</td>
                    <td>Fecha</td>
                    <td>Modificar</td>
                    <td>Eliminar</td>
                </tr>
                {%for ayuda in layuda: %}
                    <tr>
                        <td>{{ayuda[0]}}</td>
                        <td>{{ayuda[1]}}</td>
                        <td>{{ayuda[2]}}</td>
                        <td>{{ayuda[3]}}</td>
                        <td>{{ayuda[4]}}</td>
                        <td>{{ayuda[5]}}</td>
                        <td>{{ayuda[6]}}</td>
                        <td>{{ayuda[7]}}</td>
                        <td>{{ayuda[8]}}</td>

                        <td><a href="{{url_for('form_editar_dispo',id=ayuda[0])}}"> Modificar </a></td>

                        <td><a href="{{url_for('form_eliminar_dispositivo',id=ayuda[0])}}">Eliminar</a></td>

                    </tr>
                {%endfor%}
                </tbody>

            </table>

        </div>
    </section>
</div>
</body>
</html>