<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registrar dispositivos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" type="text/css">
</head>
<body>
<div class="container">
     <div class="b_navegacion">
        <form action="{{url_for('datos_regis')}}" method="POST">
            <a href="/">Inicio</a>
            <a href="/registrar">Registrar estatus de monitoreo</a>
            
         <fieldset> 
            <center><legend style="font-size: large;"> <b> Registrato </b> </legend></center>
            <br>
            <input type="text" placeholder="Servidor" name="servi" id="servi">
            <input type="text" placeholder="Url" name="url" id="url">
            <input type="number" placeholder="Estatus" name="estatus" id="estatus">
            <select  name="metodo"  id="metodo">
                <option value="01">POST</option>
                <option value="02">GET</option>
                <option value="03">head</option>
            </select>
            <input type="date" placeholder="Fecha" name="fecha_R" id="fecha_R">
            <input type="text" placeholder="Tiempo" name="tiempo" id="tiempo">
           <input type="number" placeholder="idmonitoreo" name="id_m" id="id_m">

            
            <input type="button" value="Cancelar">
            <input type="submit" value="Registrar">
         </fieldset>
         </form>
         <section>
            <div>
                <h2>lista de servicios</h2>
                <table>
                    <thead>servicios</thead>
                    <tbody
                        <tr>
                            <td>servidor</td>
                            <td>url</td>
                            <td>estaus</td>
                            <td>metodo</td>
                            <td>fecha</td>
                            <td>tiempo</td>
                            <td>id servicio</td>

                        </tr>
{% for servicios in lserv: %}
<tr>
    <td>{{servicios[0]}}</td>
    <td>{{servicios[1]}}</td>
    <td>{{servicios[2]}}</td>
    <td>{{servicios[3]}}</td>
    <td>{{servicios[4]}}</td>
    <td>{{servicios[5]}}</td>
    <td>{{servicios[6]}}</td>
    <td><a href = "{{url_for('editar_serv', id=servicios[0])}}">editar</a></td>
    <td><a href = "{{url_for('eliminar_serv', id=servicios[0])}}">eliminar</a></td>
</tr>
                    {% endfor %}
            </tbody>
            </table>
        </div>
</section>
</body>
</html>
