<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DISPOSITIVOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" type="text/css">

</head>
<body>
<div class="container">
    <div class="b_navegacion">
        <form action="{{url_for('datos_regi')}}" method="POST">
            <a href="/">Inicio</a>
            <a href="/registrar">Registrar estatus</a>
            <a href="/registrados">Dispositivos</a>
        </form>
    </div>

    </div>
    <div class="cont_cards">
        <div class="card">
            <p>aplicaciones web</p>
            <p>esta pagina fue crada con el fin de monitorear el status de 
                los datos que que los usuarios de una empresa ingresen aqui.
            </p>
        </div>
    </div>
    <div class="pie">
        <footer>
            <p>Av. Universidad Tecnologica, El Carmen, Hgo.</p>
            <p>monitoreo de status</p>
            <p> &copy; 2023</p>
        </footer>
    </div>
</div>
</body>
</html>
